@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --border: 240 5.9% 90%;
    --ui-background-info: var(--blue-50);
    --ui-background-ai: var(--purple-50);
    --ui-background-disabled: var(--neutrals-200);
    --ui-background-error: var(--red-100);
    --ui-background-hover-main: var(--neutrals-50);
    --ui-background-hover-secondary: var(--neutrals-50);
    --ui-background-inactive: var(--neutrals-400);
    --ui-background-main: var(--neutrals-00white);
    --ui-background-secondary: var(--neutrals-25);
    --ui-background-selected-main: var(--neutrals-300);
    --ui-background-success: var(--green-50);
    --ui-background-warning: var(--orange-50);
    --ui-foreground-info: var(--blue-600);
    --ui-foreground-ai: var(--purple-500);
    --ui-foreground-disabled: var(--neutrals-500);
    --ui-foreground-error: var(--red-500);
    --ui-foreground-main: var(--neutrals-900);
    --ui-foreground-secondary: var(--neutrals-700);
    --ui-foreground-success: var(--green-500);
    --ui-foreground-warning: var(--orange-300);
    --ui-stroke-info: var(--blue-300);
    --ui-stroke-ai: var(--purple-300);
    --ui-stroke-disabled: var(--neutrals-300);
    --ui-stroke-error: var(--red-600);
    --ui-stroke-focus: var(--blue-600);
    --ui-stroke-hover-main: var(--neutrals-300);
    --ui-stroke-hover-secondary: var(--neutrals-200);
    --ui-stroke-main: var(--neutrals-200);
    --ui-stroke-secondary: var(--neutrals-100);
    --ui-stroke-selected-main: var(--neutrals-300);
    --ui-stroke-selected-secondary: var(--neutrals-200);
    --ui-stroke-success: var(--green-300);
    --ui-stroke-warning: var(--orange-300);
    --ui-text-ai: var(--purple-500);
    --ui-text-disabled: var(--neutrals-500);
    --ui-text-error: var(--red-500);
    --ui-text-info: var(--blue-600);
    --ui-text-main: var(--neutrals-900);
    --ui-text-secondary: var(--neutrals-700);
    --ui-text-success: var(--green-500);
    --ui-text-warning: #ee8300;
    --primary-primary: var(--teal-400);
    --primary-primary10: #229b9a1a;
    --primary-primary20: #229b9a33;
    --primary-primary36: #229b9a5c;
    --primary-primary49: #229b9a7d;
    --primary-primary5: #229b9a0d;
    --primary-primary50: #229b9a80;
    --primary-primary59: #229b9a96;
    --primary-primary75: #229b9abf;
    --fonts-letter-spacing-normal: 0rem;
    --fonts-letter-spacing-loose: 0.0357rem;
    --size-0: 0rem;
    --size-1: 0.0714rem;
    --size-2: 0.1429rem;
    --size-3: 0.2143rem;
    --size-4: 0.2857rem;
    --size-8: 0.5714rem;
    --size-10: 0.7143rem;
    --size-12: 0.8571rem;
    --size-14: 1rem;
    --size-16: 1.1429rem;
    --size-18: 1.2857rem;
    --size-20: 1.4286rem;
    --size-24: 1.7143rem;
    --size-28: 2rem;
    --size-30: 2.1429rem;
    --size-32: 2.2857rem;
    --size-34: 2.4286rem;
    --size-36: 2.5714rem;
    --size-40: 2.8571rem;
    --size-42: 3rem;
    --size-44: 3.1429rem;
    --size-48: 3.4286rem;
    --size-52: 3.7143rem;
    --size-56: 4rem;
    --size-60: 4.2857rem;
    --size-64: 4.5714rem;
    --size-72: 5.1429rem;
    --size-80: 5.7143rem;
    --size-96: 6.8571rem;
    --fonts-family-primary: EYInterstate;
    --fonts-weight-bold: bold;
    --fonts-weight-light: light;
    --fonts-weight-regular: regular;
    --fonts-letter-spacing-body-1: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-body-2: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-body-3: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-h1: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-h2: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-h3: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-h4: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-h5: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-h6: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-label-1: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-label-2: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-label-3: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-label-4: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-overline-1: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-overline-2: var(--fonts-letter-spacing-normal);
    --fonts-letter-spacing-overline-3: var(--fonts-letter-spacing-normal);
    --fonts-line-height-body-3: var(--size-18);
    --fonts-line-height-label-4: var(--size-18);
    --fonts-line-height-overline-3: var(--size-18);
    --fonts-line-height-body-2: var(--size-20);
    --fonts-line-height-label-3: var(--size-20);
    --fonts-line-height-overline-2: var(--size-20);
    --fonts-line-height-body-1: var(--size-24);
    --fonts-line-height-h6: var(--size-24);
    --fonts-line-height-label-2: var(--size-24);
    --fonts-line-height-overline-1: var(--size-24);
    --fonts-line-height-h5: var(--size-28);
    --fonts-line-height-label-1: var(--size-28);
    --fonts-line-height-h4: var(--size-30);
    --fonts-line-height-h3: var(--size-32);
    --fonts-line-height-h2: var(--size-36);
    --fonts-line-height-h1: var(--size-42);
    --fonts-size-body-3: var(--size-12);
    --fonts-size-label-4: var(--size-12);
    --fonts-size-overline-3: var(--size-12);
    --fonts-size-body-2: var(--size-14);
    --fonts-size-label-3: var(--size-14);
    --fonts-size-overline-2: var(--size-14);
    --fonts-size-body-1: var(--size-16);
    --fonts-size-h6: var(--size-16);
    --fonts-size-label-2: var(--size-16);
    --fonts-size-overline-1: var(--size-16);
    --fonts-size-h5: var(--size-18);
    --fonts-size-label-1: var(--size-18);
    --fonts-size-h4: var(--size-20);
    --fonts-size-h3: var(--size-24);
    --fonts-size-h2: var(--size-28);
    --fonts-size-h1: var(--size-34);
    --fonts-family-body-1: var(--fonts-family-primary);
    --fonts-family-body-2: var(--fonts-family-primary);
    --fonts-family-body-3: var(--fonts-family-primary);
    --fonts-family-h1: var(--fonts-family-primary);
    --fonts-family-h2: var(--fonts-family-primary);
    --fonts-family-h3: var(--fonts-family-primary);
    --fonts-family-h4: var(--fonts-family-primary);
    --fonts-family-h5: var(--fonts-family-primary);
    --fonts-family-h6: var(--fonts-family-primary);
    --fonts-family-label-1: var(--fonts-family-primary);
    --fonts-family-label-2: var(--fonts-family-primary);
    --fonts-family-label-3: var(--fonts-family-primary);
    --fonts-family-label-4: var(--fonts-family-primary);
    --fonts-family-overline-1: var(--fonts-family-primary);
    --fonts-family-overline-2: var(--fonts-family-primary);
    --fonts-family-overline-3: var(--fonts-family-primary);
    --fonts-weight-h1: var(--fonts-weight-regular);
    --fonts-weight-h2: var(--fonts-weight-regular);
    --fonts-weight-h3: var(--fonts-weight-regular);
    --fonts-weight-h4: var(--fonts-weight-regular);
    --fonts-weight-h5: var(--fonts-weight-regular);
    --fonts-weight-h6: var(--fonts-weight-regular);
    --fonts-weight-body-1-bold: var(--fonts-weight-bold);
    --fonts-weight-body-1-light: var(--fonts-weight-light);
    --fonts-weight-body-1-regular: var(--fonts-weight-regular);
    --fonts-weight-body-2-bold: var(--fonts-weight-bold);
    --fonts-weight-body-2-light: var(--fonts-weight-light);
    --fonts-weight-body-2-regular: var(--fonts-weight-regular);
    --fonts-weight-body-3-bold: var(--fonts-weight-bold);
    --fonts-weight-body-3-light: var(--fonts-weight-light);
    --fonts-weight-body-3-regular: var(--fonts-weight-regular);
    --fonts-weight-label-1-bold: var(--fonts-weight-bold);
    --fonts-weight-label-1-light: var(--fonts-weight-light);
    --fonts-weight-label-1-regular: var(--fonts-weight-regular);
    --fonts-weight-label-2-bold: var(--fonts-weight-bold);
    --fonts-weight-label-2-light: var(--fonts-weight-light);
    --fonts-weight-label-2-regular: var(--fonts-weight-regular);
    --fonts-weight-label-3-bold: var(--fonts-weight-bold);
    --fonts-weight-label-3-light: var(--fonts-weight-light);
    --fonts-weight-label-3-regular: var(--fonts-weight-regular);
    --fonts-weight-label-4-bold: var(--fonts-weight-bold);
    --fonts-weight-label-4-light: var(--fonts-weight-light);
    --fonts-weight-label-4-regular: var(--fonts-weight-regular);
    --fonts-weight-overline-1-regular: var(--fonts-weight-regular);
    --fonts-weight-overline-2-regular: var(--fonts-weight-regular);
    --fonts-weight-overline-3-regular: var(--fonts-weight-regular);
    --border-radius-x-small: var(--size-2);
    --border-radius-small: var(--size-4);
    --border-radius-medium: var(--size-8);
    --border-radius-large: var(--size-12);
    --border-radius-x-large: var(--size-44);
    --border-width-small: var(--size-1);
    --border-width-medium: var(--size-2);
    --border-width-large: var(--size-3);
    --font-letter-spacing-body-1: var(--fonts-letter-spacing-body-1);
    --font-letter-spacing-body-2: var(--fonts-letter-spacing-body-2);
    --font-letter-spacing-body-3: var(--fonts-letter-spacing-body-3);
    --font-letter-spacing-h1: var(--fonts-letter-spacing-h1);
    --font-letter-spacing-h2: var(--fonts-letter-spacing-h2);
    --font-letter-spacing-h3: var(--fonts-letter-spacing-h3);
    --font-letter-spacing-h4: var(--fonts-letter-spacing-h4);
    --font-letter-spacing-h5: var(--fonts-letter-spacing-h5);
    --font-letter-spacing-h6: var(--fonts-letter-spacing-h6);
    --font-letter-spacing-label-1: var(--fonts-letter-spacing-label-1);
    --font-letter-spacing-label-2: var(--fonts-letter-spacing-label-2);
    --font-letter-spacing-label-3: var(--fonts-letter-spacing-label-3);
    --font-letter-spacing-label-4: var(--fonts-letter-spacing-label-4);
    --font-letter-spacing-overline-1: var(--fonts-letter-spacing-overline-1);
    --font-letter-spacing-overline-2: var(--fonts-letter-spacing-overline-2);
    --font-letter-spacing-overline-3: var(--fonts-letter-spacing-overline-3);
    --font-line-height-body-3: var(--fonts-line-height-body-3);
    --font-line-height-label-4: var(--fonts-line-height-label-4);
    --font-line-height-overline-3: var(--fonts-line-height-overline-3);
    --font-line-height-body-2: var(--fonts-line-height-body-2);
    --font-line-height-label-3: var(--fonts-line-height-label-3);
    --font-line-height-overline-2: var(--fonts-line-height-overline-2);
    --font-line-height-body-1: var(--fonts-line-height-body-1);
    --font-line-height-h6: var(--fonts-line-height-h6);
    --font-line-height-label-2: var(--fonts-line-height-label-2);
    --font-line-height-overline-1: var(--fonts-line-height-overline-1);
    --font-line-height-h5: var(--fonts-line-height-h5);
    --font-line-height-label-1: var(--fonts-line-height-label-1);
    --font-line-height-h4: var(--fonts-line-height-h4);
    --font-line-height-h3: var(--fonts-line-height-h3);
    --font-line-height-h2: var(--fonts-line-height-h2);
    --font-line-height-h1: var(--fonts-line-height-h1);
    --font-size-body-3: var(--fonts-size-body-3);
    --font-size-label-4: var(--fonts-size-label-4);
    --font-size-overline-3: var(--fonts-size-overline-3);
    --font-size-body-2: var(--fonts-size-body-2);
    --font-size-label-3: var(--fonts-size-label-3);
    --font-size-overline-2: var(--fonts-size-overline-2);
    --font-size-body-1: var(--fonts-size-body-1);
    --font-size-h6: var(--fonts-size-h6);
    --font-size-label-2: var(--fonts-size-label-2);
    --font-size-overline-1: var(--fonts-size-overline-1);
    --font-size-h5: var(--fonts-size-h5);
    --font-size-label-1: var(--fonts-size-label-1);
    --font-size-h4: var(--fonts-size-h4);
    --font-size-h3: var(--fonts-size-h3);
    --font-size-h2: var(--fonts-size-h2);
    --font-size-h1: var(--fonts-size-h1);
    --opacity-alpha-overlay0: 0rem;
    --opacity-alpha-overlay30: 2.1429rem;
    --opacity-alpha-overlay66: 4.7143rem;
    --opacity-primary-primary5: 0.3571rem;
    --opacity-primary-primary10: 0.7143rem;
    --opacity-primary-primary20: 1.4286rem;
    --opacity-primary-primary36: 2.5714rem;
    --opacity-primary-primary49: 3.5rem;
    --opacity-primary-primary50: 3.5714rem;
    --opacity-primary-primary59: 4.2143rem;
    --opacity-primary-primary75: 5.3571rem;
    --spacing-xx-small: var(--size-2);
    --spacing-x-small: var(--size-4);
    --spacing-small: var(--size-8);
    --spacing-medium-small: var(--size-10);
    --spacing-medium: var(--size-12);
    --spacing-medium-large: var(--size-14);
    --spacing-large: var(--size-16);
    --spacing-x-large: var(--size-24);
    --spacing-xx-large: var(--size-32);
    --spacing-xxx-large: var(--size-40);
    --font-family-body-1: var(--fonts-family-body-1);
    --font-family-body-2: var(--fonts-family-body-2);
    --font-family-body-3: var(--fonts-family-body-3);
    --font-family-h1: var(--fonts-family-h1);
    --font-family-h2: var(--fonts-family-h2);
    --font-family-h3: var(--fonts-family-h3);
    --font-family-h4: var(--fonts-family-h4);
    --font-family-h5: var(--fonts-family-h5);
    --font-family-h6: var(--fonts-family-h6);
    --font-family-label-1: var(--fonts-family-label-1);
    --font-family-label-2: var(--fonts-family-label-2);
    --font-family-label-3: var(--fonts-family-label-3);
    --font-family-label-4: var(--fonts-family-label-4);
    --font-family-overline-1: var(--fonts-family-overline-1);
    --font-family-overline-2: var(--fonts-family-overline-2);
    --font-family-overline-3: var(--fonts-family-overline-3);
    --font-weight-h1: var(--fonts-weight-h1);
    --font-weight-h2: var(--fonts-weight-h2);
    --font-weight-h3: var(--fonts-weight-h3);
    --font-weight-h4: var(--fonts-weight-h4);
    --font-weight-h5: var(--fonts-weight-h5);
    --font-weight-h6: var(--fonts-weight-h6);
    --font-weight-body-1-bold: var(--fonts-weight-body-1-bold);
    --font-weight-body-1-light: var(--fonts-weight-body-1-light);
    --font-weight-body-1-regular: var(--fonts-weight-body-1-regular);
    --font-weight-body-2-bold: var(--fonts-weight-body-2-bold);
    --font-weight-body-2-light: var(--fonts-weight-body-2-light);
    --font-weight-body-2-regular: var(--fonts-weight-body-2-regular);
    --font-weight-body-3-bold: var(--fonts-weight-body-3-bold);
    --font-weight-body-3-light: var(--fonts-weight-body-3-light);
    --font-weight-body-3-regular: var(--fonts-weight-body-3-regular);
    --font-weight-label-1-bold: var(--fonts-weight-label-1-bold);
    --font-weight-label-1-light: var(--fonts-weight-label-1-light);
    --font-weight-label-1-regular: var(--fonts-weight-label-1-regular);
    --font-weight-label-2-bold: var(--fonts-weight-label-2-bold);
    --font-weight-label-2-light: var(--fonts-weight-label-2-light);
    --font-weight-label-2-regular: var(--fonts-weight-label-2-regular);
    --font-weight-label-3-bold: var(--fonts-weight-label-3-bold);
    --font-weight-label-3-light: var(--fonts-weight-label-3-light);
    --font-weight-label-3-regular: var(--fonts-weight-label-3-regular);
    --font-weight-label-4-bold: var(--fonts-weight-label-4-bold);
    --font-weight-label-4-light: var(--fonts-weight-label-4-light);
    --font-weight-label-4-regular: var(--fonts-weight-label-4-regular);
    --font-weight-overline-1-regular: var(--fonts-weight-overline-1-regular);
    --font-weight-overline-2-regular: var(--fonts-weight-overline-2-regular);
    --font-weight-overline-3-regular: var(--fonts-weight-overline-3-regular);
    --alpha-overlay-dark-0: #2e2e3800;
    --alpha-overlay-dark-15: #2e2e3826;
    --alpha-overlay-dark-30: #2e2e384d;
    --alpha-overlay-dark-50: #2e2e3880;
    --alpha-overlay-dark-66: #2e2e38a8;
    --alpha-overlay-light-0: #ffffff00;
    --alpha-overlay-light-30: #ffffff4d;
    --alpha-overlay-light-50: #ffffff80;
    --alpha-overlay-light-66: #ffffffa8;
    --assertions-black: #000000;
    --assertions-disabled: #e6e6e9;
    --assertions-gray: #afaeba;
    --assertions-green: #26a04b;
    --assertions-maroon: #b14891;
    --assertions-orange: #ee8300;
    --assertions-red: #ff4136;
    --assertions-white: #ffffff;
    --assertions-yellow: #ffe600;
    --blue-100: #afcdfb;
    --blue-200: #85b9fd;
    --blue-25: #f4f7fc;
    --blue-300: #55a6fc;
    --blue-400: #188ce5;
    --blue-50: #d2e1fa;
    --blue-500: #1275c1;
    --blue-600: #0f69ae;
    --blue-700: #0a558e;
    --blue-800: #064372;
    --blue-900: #083153;
    --brand-500: #ffe600;
    --green-100: #74ec95;
    --green-200: #34ce63;
    --green-25: #e7fce8;
    --green-300: #2db757;
    --green-400: #26a04b;
    --green-50: #b0f3be;
    --green-500: #1f893f;
    --green-600: #197335;
    --green-700: #125e29;
    --green-800: #0c4a1f;
    --green-900: #0a3616;
    --maroon-100: #ecbdda;
    --maroon-200: #e79ecd;
    --maroon-25: #faf5f8;
    --maroon-300: #e180c0;
    --maroon-400: #da5bb3;
    --maroon-50: #f2d9e8;
    --maroon-500: #b14891;
    --maroon-600: #a04082;
    --maroon-700: #82336a;
    --maroon-800: #682754;
    --maroon-900: #4c1c3d;
    --neutrals-00white: #ffffff;
    --neutrals-100: #e6e6e9;
    --neutrals-1000: #23232f;
    --neutrals-200: #d7d7dc;
    --neutrals-25: #f9f9fa;
    --neutrals-300: #c3c3cb;
    --neutrals-400: #afaeba;
    --neutrals-50: #f3f3f5;
    --neutrals-500: #9897a6;
    --neutrals-600: #7f7f91;
    --neutrals-700: #656579;
    --neutrals-800: #4d4d5c;
    --neutrals-900: #2e2e38;
    --neutrals-bg-gradient1: #f9f9fe;
    --neutrals-bg-gradient2: #f0f0ff;
    --primary-alt-button-text: #23232f;
    --orange-100: #fdbc84;
    --orange-200: #ff9831;
    --orange-25: #fcf5f0;
    --orange-300: #ee8300;
    --orange-400: #d07200;
    --orange-50: #fcd9bc;
    --orange-500: #b26100;
    --orange-600: #975100;
    --orange-700: #7b4100;
    --orange-800: #623300;
    --orange-900: #462602;
    --purple-100: #d4c4ea;
    --purple-200: #c2abe3;
    --purple-25: #f8f6fa;
    --purple-300: #b094dc;
    --purple-400: #9d7cd4;
    --purple-50: #e5dcf1;
    --purple-500: #8965cc;
    --purple-600: #724bc3;
    --purple-700: #5e36bc;
    --purple-800: #4a279f;
    --purple-900: #361c75;
    --red-100: #fdbaab;
    --red-200: #ff9783;
    --red-25: #fcf5f3;
    --red-300: #ff735e;
    --red-400: #ff4136;
    --red-50: #fcd7cf;
    --red-500: #ea011d;
    --red-600: #c70117;
    --red-700: #a40011;
    --red-800: #83000b;
    --red-900: #610402;
    --teal-100: #44e0de;
    --teal-200: #2fc9c7;
    --teal-25: #e1fcfb;
    --teal-300: #27acaa;
    --teal-400: #229b9a;
    --teal-50: #60f6f3;
    --teal-500: #1d8583;
    --teal-600: #17706f;
    --teal-700: #105b5a;
    --teal-800: #0b4847;
    --teal-900: #093434;
}

.dark {
    --border: 240 5.9% 90%;

    --alpha-overlay-dark-0: #ffffff00;
    --alpha-overlay-dark-15: #ffffff26;
    --alpha-overlay-dark-30: #ffffff4d;
    --alpha-overlay-dark-50: #ffffff80;
    --alpha-overlay-dark-66: #ffffffa8;
    --alpha-overlay-light-0: #2e2e3800;
    --alpha-overlay-light-30: #2e2e384d;
    --alpha-overlay-light-50: #2e2e3880;
    --alpha-overlay-light-66: #2e2e38a8;
    --assertions-black: #000000;
    --assertions-disabled: #e6e6e9;
    --assertions-gray: #afaeba;
    --assertions-green: #26a04b;
    --assertions-maroon: #b14891;
    --assertions-orange: #ee8300;
    --assertions-red: #ff4136;
    --assertions-white: #ffffff;
    --assertions-yellow: #ffe600;
    --blue-100: #0a558e;
    --blue-200: #0f69ae;
    --blue-25: #083153;
    --blue-300: #1275c1;
    --blue-400: #188ce5;
    --blue-50: #064372;
    --blue-500: #55a6fc;
    --blue-600: #85b9fd;
    --blue-700: #afcdfb;
    --blue-800: #d2e1fa;
    --blue-900: #f4f7fc;
    --brand-500: #ffe600;
    --green-100: #125e29;
    --green-200: #197335;
    --green-25: #0a3616;
    --green-300: #1f893f;
    --green-400: #26a04b;
    --green-50: #0c4a1f;
    --green-500: #2db757;
    --green-600: #34ce63;
    --green-700: #74ec95;
    --green-800: #b0f3be;
    --green-900: #e7fce8;
    --maroon-100: #82336a;
    --maroon-200: #a04082;
    --maroon-25: #4c1c3d;
    --maroon-300: #b14891;
    --maroon-400: #da5bb3;
    --maroon-50: #682754;
    --maroon-500: #e180c0;
    --maroon-600: #e79ecd;
    --maroon-700: #ecbdda;
    --maroon-800: #f2d9e8;
    --maroon-900: #faf5f8;
    --neutrals-00white: #23232f;
    --neutrals-100: #33333e;
    --neutrals-1000: #dedee2;
    --neutrals-200: #3f3f4c;
    --neutrals-25: #1a1a24;
    --neutrals-300: #4e4e5d;
    --neutrals-400: #5f5f72;
    --neutrals-50: #2e2e38;
    --neutrals-500: #737387;
    --neutrals-600: #8a8a9b;
    --neutrals-700: #a4a3b1;
    --neutrals-800: #bfbfc8;
    --neutrals-900: #ffffff;
    --neutrals-bg-gradient1: #1a1a24;
    --neutrals-bg-gradient2: #33333e;
    --primary-alt-button-text: #23232f;
    --orange-100: #7b4100;
    --orange-200: #975100;
    --orange-25: #462602;
    --orange-300: #b26100;
    --orange-400: #d07200;
    --orange-50: #623300;
    --orange-500: #ee8300;
    --orange-600: #ff9831;
    --orange-700: #fdbc84;
    --orange-800: #fcd9bc;
    --orange-900: #fcf5f0;
    --purple-100: #5e36bc;
    --purple-200: #724bc3;
    --purple-25: #361c75;
    --purple-300: #8965cc;
    --purple-400: #9d7cd4;
    --purple-50: #4a279f;
    --purple-500: #b094dc;
    --purple-600: #c2abe3;
    --purple-700: #d4c4ea;
    --purple-800: #e5dcf1;
    --purple-900: #f8f6fa;
    --red-100: #a40011;
    --red-200: #c70117;
    --red-25: #610402;
    --red-300: #ea011d;
    --red-400: #ff4136;
    --red-50: #83000b;
    --red-500: #ff735e;
    --red-600: #ff9783;
    --red-700: #fdbaab;
    --red-800: #fcd7cf;
    --red-900: #fcf5f3;
    --teal-100: #105b5a;
    --teal-200: #17706f;
    --teal-25: #093434;
    --teal-300: #1d8583;
    --teal-400: #229b9a;
    --teal-50: #0b4847;
    --teal-500: #27acaa;
    --teal-600: #2fc9c7;
    --teal-700: #44e0de;
    --teal-800: #60f6f3;
    --teal-900: #e1fcfb;
}

@theme inline {
    --color-neutrals-00-white: var(--neutrals-00white);
    --color-neutrals-900: var(--neutrals-900);
    --color-neutrals-800: var(--neutrals-800);
    --color-neutrals-700: var(--neutrals-700);
    --color-neutrals-600: var(--neutrals-600);
    --color-neutrals-500: var(--neutrals-500);
    --color-neutrals-400: var(--neutrals-400);
    --color-neutrals-300: var(--neutrals-300);
    --color-neutrals-200: var(--neutrals-200);
    --color-neutrals-100: var(--neutrals-100);
    --color-neutrals-50: var(--neutrals-50);
    --color-neutrals-25: var(--neutrals-25);

    --color-brand-500: var(--brand-500);
    --color-primary-alt-button-text: var(--primary-alt-button-text);

    --color-blue-600: var(--blue-600);
    --spacing-0: var(--size-0);
    --spacing-1: var(--size-1);
    --spacing-2: var(--size-2);
    --spacing-3: var(--size-3);
    --spacing-4: var(--size-4);
    --spacing-8: var(--size-8);
    --spacing-10: var(--size-10);
    --spacing-12: var(--size-12);
    --spacing-14: var(--size-14);
    --spacing-16: var(--size-16);
    --radius-xl: var(--border-radius-x-large);
}
